@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.container {
    max-width: 350px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 7%);
    position: relative;
}

.container::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 15px;
    z-index: -10;
}

.card_img {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.card_img svg {
    width: 100%;
    border-radius: 15px;
}

.card_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card_detail .card_tag {
    border-radius: 5px;
    max-width: 70px;
    padding: 5px 10px;
    background-color: hsl(47, 88%, 63%);
    font-size: 10px;
}

.card_detail .card_publish,
.card_detail .card_text {
    margin: 15px 0;
}

.card_detail .card_publish {
    font-size: 15px;
}

.card_detail .card_foundations {
    font-size: 20px;
    font-weight: bold;
}

.card_detail .card_foundations:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.card_detail .card_text {
    color: hsl(0, 0%, 50%);
    font-size: 13px;
    font-weight: lighter;
}

.author {
    display: flex;
    align-items: center;
}

.author .author_img {
    width: 30px;
}

.author .author_img img {
    width: 100%;
}

.author .author_name {
    font-size: 13px;
    font-weight: 800;
    margin-left: 15px;
}

